.header {
  margin: 0 auto;
  padding: 0.75rem 0rem;
  width: var(--w-md);
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    width: 48px;
    height: 48px;
    image-rendering: crisp-edges;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__link,
  &__link:link,
  &__link:active {
    padding: 0.5rem 2rem;
  }

  &__link:hover {
    background-color: var(--clr-accent);
    color: var(--clr-gray-800);
    transition: all .35s ease-out;
  }
}
