.header {
  position: fixed;
  z-index: 1000;
  padding: 1.5rem 0rem;
  width: 100%;
  background-color: var(--clr-gray-900);
  border-bottom: 1px solid var(--clr-gray-800);
  font-size: 1.5rem;

  &__container {
    margin: 0 auto;
    width: var(--w-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    width: 40px;
    height: 40px;
    image-rendering: crisp-edges;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__link,
  &__link:link,
  &__link:active {
    padding: 0.5rem 2rem;
  }

  &__link:hover {
    background-color: var(--clr-accent);
    color: var(--clr-gray-800);
    transition: all 0.35s ease-out;
  }
}
