.hero {
  height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  &__title {
    font-size: 3rem;
  }

  &__strong {
    color: var(--clr-accent);
  }
}

#computer {
  width: 804px;
  height: 608px;
  image-rendering: crisp-edges;
}

#mouse {
  width: 32px;
  height: 32px;
  image-rendering: crisp-edges;
}
