.hero {
  height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  &__title {
    font-size: 4rem;
  }

  &__strong {
    color: var(--clr-accent);
  }
}

#keyboard {
  width: 704px;
  height: 368px;
  image-rendering: crisp-edges;
}

#mouse {
  width: 32px;
  height: 32px;
  image-rendering: crisp-edges;
}
